{% extends  'base.html' %}

{% block content %}
<h2>{{taiqu.name.decode()}}台区线路表</h2>
    <p>{{lines | length }} 条线路</p>
    <form method="post" >
        台区<input type="text" name="line" autocomplete="off" required>
        线路控制1<input type="text" name="line" autocomplete="off" required>
        <input class="btn" type="submit" name="提交" value="Add">
    </form>
    <ul class="line-list">
        {% for line in lines %}
        <li>{{line.linename.decode()}}</li>
            <span class="float-right">
                <form class="inline-form" method="post" action="{{ url_for('delete', line_id = line.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
                </form>
                <a class="btn" href="{{url_for('edit',line_id=line.id)}}">编辑</a>
                <a class="btn" href="{{url_for('then',line_id=line.id)}}">展开</a>
                <form class="inline-form" method="post" action="{{ url_for('tingdian', line_id = line.id) }}">
                <input class="btn" type="submit" name="tingdian" value="停电" onclick="return confirm('Are you sure?')">
                </form>
            </span>
        {% endfor %}
    </ul>
{% endblock %}
