{% extends  'base.html' %}

{% block content %}
<h2>{{gongbian.gbname.decode()}}公专变用户表</h2>
    <p>{{yonghus | length }} 个用户</p>
    <form method="post" >
        用户名称<input type="text" name="yhname" autocomplete="off" required>
        用户地址<input type="text" name="yhdizhi" autocomplete="off" required>
        户号<input type="text" name="number" autocomplete="off" required>
        电话<input type="text" name="telephone" autocomplete="off" required>
        敏感度（1,2,3）<input type="text" name="minggandu" autocomplete="off" required>
        <input class="btn" type="submit" name="提交" value="Add">
    </form>
    <ul class="line-list">
        {% for yonghu in yonghus %}
        <li>{{yonghu.yhname.decode()}}</li>
        <form class="inline-form" method="post" action="{{ url_for('deleteyong', yonghu_id = yonghu.id) }}">
            <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
        </form>
        {% endfor %}
    </ul>
{% endblock %}