{% extends  'base.html' %}

{% block content %}
<h2>月湖区停复电执行</h2>
    <p>共有{{taiqus | length}}个台区</p>
    {% if current_user.is_authenticated %}
        <a class="btn" href="{{url_for('chaxun')}}">停电统计</a>
        <a class="btn" href="{{url_for('duanxinexcel')}}">导出</a>
        <a class="btn" href="{{url_for('huifu')}}">完成恢复</a>
        <ul class="line-list">
            {% for taiqu in taiqus %}
                <li>{{taiqu.name.decode()}}</li>
                <span class="float-right">
                <a class="btn" href="{{url_for('taiqushow',taiqu_id=taiqu.id)}}">线路总计</a>
                </span>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
