{% extends  'base.html' %}

{% block content %}
<h4>{{line.linename.decode()}}</h4>
    <p>{{kongzhis | length }} 个控制</p>
    <ul class="line-list">
        {% for kongzhi in kongzhis %}
        <li>{{kongzhi.kzname.decode()}} - 控制等级{{kongzhi.dengji.decode()}}</li>
        <a class="btn" href="{{url_for('gongbian',kongzhi_id=kongzhi.id)}}">公变用户</a>
        <form class="inline-form" method="post" action="{{ url_for('tingdian1', kongzhi_id = kongzhi.id) }}">
            <input class="btn" type="submit" name="tingdian1" value="停电1" onclick="return confirm('Are you sure?')">
        </form>
        {% endfor %}
    </ul>
{% endblock %}